.Snowflake {
    font-weight: 700;
    color: orange;
}

/* black  */ 
.Segment:nth-of-type(3n+1) {
    background: #111;
    color: #ddd;
}

/* grey   */
.Segment:nth-of-type(3n+2) {
    background: #aaa;
    color: #000;
}

/* silver */
.Segment:nth-of-type(3n+0) {
    background: #ddd;
    color: #000;
}

.Segment {
    background: #111;
    color: #ddd;
}

/*

.Segment {
    background: #B10dc9;
    color: #fff;
}
.Segment:nth-of-type(2n+0) {
    background: #2ecc40;
    color: #000;
}
.Segment:nth-of-type(3n+0) {
    background: #3d9970;
    color: #000;
}

.Segment:nth-of-type(4n+0) {
    background: #39cccc;
    color: #000;
}
.Segment:nth-of-type(5n+0) {
    background: #7fdbff;
    color: #000;
}
.Segment:nth-of-type(6n+0) {
    background: #0074d9;
    color: #fff;
}

.Segment:nth-of-type(7n+0) {
    background: #001f3f;
    color: #fff;
}

*/

.badge {
    position: relative;
}

.badge[data-badge]::before {
    content: attr(data-badge);
    position: absolute;
    color: #fff;
    text-align: center; 
    font-size: 1em;
    line-height: 1.2em;
    top: -1.2em;
    left: 0;
    font-weight: 500;
}

.Segment:last-child::after {
    content: "0";
    position: absolute;
    color: #fff;
    text-align: center; 
    font-size: 1em;
    line-height: 1.2em;
    top: -1.2em;
    right: 0;
    font-weight: 500;
}